.tab_container__navigation {
    display: flex;
    align-items: flex-end;
    height: 300px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: url(./../../img/legion_bg.jpg);
    background-size: auto 150%;
    background-position: 50% 0%;
    background-repeat: no-repeat;
}

.tab_container__nav_item {
    padding: 20px;
}

.tab_container__nav_item.active {
    color: #f1e556;
}

.tab_container__nav_item:hover {
    cursor: pointer;
}