.accordeon_item:not(:first-child) {
    margin-top: -1px;
}

.accordeon_item .title {
	display: flex;
    position: relative;
	justify-content: space-between;
    height: 60px;
    align-items: center;
    border: 1px solid;
    padding: 0 60px 0 20px;
}

.accordeon_item .description {
    padding: 0px 0 0px 20px;
    position: relative;
    border: 1px solid;
    border-top: none;
    margin-bottom: 0px;
    max-height: 0;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    -webkit-transition: max-height .3s ease;
    -moz-transition: max-height .3s ease;
    -ms-transition: max-height .3s ease;
    -o-transition: max-height .3s ease;
    transition: max-height .3s ease;
}

.accordeon_item.antorus .description,
.accordeon_item.tomb_of_sargeras .description,
.accordeon_item.nighthold .description,
.accordeon_item.trial_of_valor .description,
.accordeon_item.emerald_nightmare .description {
    background-image: url(./../../../img/antorus_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 100px;
    background-position-y: center;
}

.accordeon_item.tomb_of_sargeras .description {
    background-image: url(./../../../img/tos_bg.jpg);
}

.accordeon_item.nighthold .description {
    background-image: url(./../../../img/nighthold_bg.jpg);
}

.accordeon_item.trial_of_valor .description {
    background-image: url(./../../../img/tov_bg.jpg);
}

.accordeon_item.emerald_nightmare .description {
    background-image: url(./../../../img/emerald_nightmare_bg.jpg);
}

.accordeon_item .description:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, .65));
}

.accordeon_item .text {
	max-width: 70%;
    z-index: 2;
    position: relative;
}

.raid_progress {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.raid_progress svg {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.raid_progress .item_toggler {
    position: absolute;
    right: 20px;
    top: calc(50% - 17px);
    padding: 10px;
}

.raid_progress .item_toggler:hover {
	cursor: pointer;
}

.item_toggler svg {
    pointer-events: none;
}

.accordeon_item.expanded svg {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.accordeon_item.expanded .description {
    margin-bottom: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.accordeon_item .bosses {
    width: 30%;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bosses .boss_icon {
    width: 100px;
    height: 70px;
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}