header {
	height: 60px;
}

.header {
	height: 100%;
}

header nav {
	height: 100%;
}

.nav_menu {
	display: flex;
	align-items: center;
	height: 100%;
	margin: 0 -40px;
	padding: 0 20px;
	list-style: none;
}

.nav_menu .item {
	padding: 0 20px;
}