* {
	box-sizing: border-box;
}

:root {
	color: #fff;
}

body {
	min-height: 100vh;
	background: #000;
}

.app {
	background-image: url('./content/img/main_bg-2.jpg');
	background-size: cover;
	background-position: center top;
	box-shadow: inset 10px 10px 80px 40px #000;
}

.app.not-main {
	background-image: none;
	background-color: #000;
}

header {
	z-index: 1000;
	position: sticky;
}

main {
	display: block;
	height: auto;
	width: 100%;
}

footer {
	height: 100px;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.not-main footer {
	position: relative;
}

.mainpage {
	height: 100vh;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	margin-top: -60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}

@media (min-width: 480px) {}

@media (min-width: 600px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1024px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}